* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.content {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  gap: 100px;
  overflow: hidden;
  position: relative;
}

.menu-container {
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 100;
  height: 100px;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  font-size: 25px;
}

.menu-item {
  padding-right: 40px;
}

.menu-item > .active {
  color: red;
}

.menu-link {
  text-decoration: none;
}

.menu-link:hover {
  color: aliceblue;
  text-decoration: underline;
}

.next-page, .previous-page {
  position: fixed;
  top: 50%;
  z-index: 100;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  padding: 20px 30px;
  font-size: 20px;
}

.next-page {
    right: 2%;
    transform: translateX(200%);
}

.previous-page {
  transform: translateX(-200%);
  left: 2%;
}


.home-content {
  height: 100vh;
  width: 100%;
  background: url("./home-background.jpg") no-repeat;
  background-position-y: 60%;
  background-size: cover;
  position: relative;
}

.home-overlay,
.experience-overlay,
.education-overlay,
.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.home-overlay {
  transform: translateX(-100%);
}

.experience-overlay {
  transform: translateX(100%);
}

.education-overlay {
  transform: translateX(-100%);
}

.about-overlay {
  transform: translateX(100%);
}

.summary {
  position: absolute;
  top: 80%;
  transform: translateY(-80%);
  right: 100px;
  width: 600px;
  z-index: 10;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
}

.primary-heading {
  font-size: 60px;
  /* font-weight: lighter; */
  margin: 10px 0;
}

.secondary-heading {
  font-size: 30px;
  font-weight: lighter;
  margin: 10px 0;
}

.aim {
  font-size: 22px;
  margin-top: 30px;
}

.experience-content {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("./experience-background.jpg") no-repeat;
  background-size: cover;
  background-position-y: 70%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.jobs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.job {
  z-index: 10;
  padding: 20px 30px;
  border-radius: 5%;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  cursor: pointer;
}

.job-description {
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
  height: 80%;
  padding: 20px 30px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.job-description {
  font-size: 1.25rem;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-description p {
  margin: 10px 0px;
}

.job-description ul {
  margin: 0px 50px;
}

.job-description a {
  color: inherit;
  font-weight: bolder;
  text-decoration: none;
}

.education-content {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: url("./education-background.jpg") no-repeat;
  background-size: cover;
}

.degree {
  min-height: 200px;
  min-width: 400px;
  margin: 20px;
  padding: 20px 30px;
  border-radius: 5%;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

.degree p {
  font-size: 20px;
}

.degree1 {
  grid-row: 1;
  grid-column: 1;

  background-color: pink;
}

.degree2 {
  grid-row: 2;
  grid-column: 2;

  background-color: paleturquoise;
}

.degree3 {
  grid-row: 3;
  grid-column: 3;

  background-color: lemonchiffon;
}

.degree4 {
  grid-row: 4;
  grid-column: 4;

  background-color: lightgreen;
}

.about-content {
  position: relative;
  height: 100vh;
  width: 100%;

  background: url("./about-background.jpg") no-repeat;
  background-size: cover;
  background-position-y: 60%;
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.about h1 {
  margin-bottom: 50px;
  transform: translateY(-200%);
}

.about p {
  font-size: 25px;
  margin-bottom: 20px;
  transform: translateX(-200%);
}

.about p strong {
  margin-right: 10px;
}
